# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Python backend
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
postgres_data/

# =========================
# Flutter / Dart
# =========================
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
.dart_tool/
.metadata

# FVM
# .fvmrc
# .fvm/
.fvm/flutter_sdk

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner.xcworkspace/
**/ios/local.properties

# macOS
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Web
**/web/.dart_tool/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.swo